on:
  workflow_call:
    inputs:
      process-only:
        type: string
        default: 'issues'
        required: false
        description: >
          Process only issues or pull requests, or both if unset. Valid values
          are 'issues', 'prs', or ''.

      issue-inactive-days:
        type: number
        default: 60
        required: false
        description: Number of days of inactivity before a **closed** issue is locked.

      pr-inactive-days:
        type: number
        default: 60
        required: false
        description: Number of days of inactivity before a **closed** PR is locked.

name: "Lock closed threads"

jobs:
  lock-threads:
    runs-on: ubuntu-latest
    steps:
      - uses: dessant/lock-threads@v4
        with:
          process-only: ${{ inputs.process-only }}

          # Issue-locking options
          issue-inactive-days: ${{ inputs.issue-inactive-days }}
          issue-comment: >
            This issue has been automatically locked. If you have
            found a related problem, please open a new issue (with
            [a reproducible example](https://community.rstudio.com/t/shiny-debugging-and-reprex-guide/10001)
            or [feature request](https://github.com/rstudio/shiny/wiki/Writing-Good-Feature-Requests))
            and link to this issue.

            :raising_hand: Need help? [Connect with us on Discord or Posit Community.](https://shiny.posit.co/r/help.html).

          # Pull request-locking options
          pr-inactive-days: ${{ inputs.pr-inactive-days }}
          pr-comment: >
            This pull request has been automatically locked. If you have
            found a related problem, please open a new issue (with
            [a reproducible example](https://community.rstudio.com/t/shiny-debugging-and-reprex-guide/10001)
            or [feature request](https://github.com/rstudio/shiny/wiki/Writing-Good-Feature-Requests))
            and link to this pull request.

            :raising_hand: Need help? [Connect with us on Discord or Posit Community.](https://shiny.posit.co/r/help.html).
