
on:
  workflow_call:
    inputs:
      extra-packages:
        type: string
        default: ""
        required: false
      cache-version:
        type: string
        default: "2"
        required: false
      pandoc-version:
        type: string
        default: "2.7.3"
        required: false
      node-version:
        type: string
        default: "16.x"
        required: false
      staticimports:
        type: boolean
        default: true
        required: false
    # secrets:
    #   token:
    #     required: true

name: routine

jobs:

  routine:
    runs-on: ubuntu-20.04

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout GitHub repo
        uses: rstudio/shiny-workflows/.github/internal/checkout@v1

      # Needs the repo to already be checked out
      - name: Git Pull (PR)
        if: github.event_name == 'pull_request'
        uses: r-lib/actions/pr-fetch@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Git Config
        uses: rstudio/shiny-workflows/.github/internal/setup-git@v1

      - name: Install R, system dependencies, and package dependencies
        uses: rstudio/shiny-workflows/setup-r-package@v1
        with:
          pandoc-version: ${{ inputs.pandoc-version }}
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          cache-version: ${{ inputs.cache-version }}
          needs: routine
          extra-packages: |
            any::devtools
            any::roxygen2
            any::decor
            any::rmarkdown
            any::lintr
            any::jsonlite
            ${{ inputs.extra-packages }}

      - name: "`urlchecker::url_update()`; Update urls found in package; Only rc-v** branches"
        # Only perform if in an RC branch (`rc-vX.Y.Z`)
        if: startsWith(github.ref_name, 'rc-v')
        run: |
          Rscript -e 'if (!require("urlchecker", quietly = TRUE)) pak::pkg_install("r-lib/urlchecker"); urlchecker::url_update()'
          git add -u && git commit -m '`urlchecker::url_update()` (GitHub Actions)' || echo "No link changes to commit"

      - name: "`usethis::use_version()`; Match package version to rc-vX.Y.Z branch version; Only rc-v** branches"
        # Only perform if in an RC branch (`rc-vX.Y.Z`)
        if: startsWith(github.ref_name, 'rc-v')
        run: |
          Rscript \
            -e 'git_branch <- system("git rev-parse --abbrev-ref HEAD", intern = TRUE)' \
            -e 'stopifnot(grepl("^rc-v", git_branch))' \
            -e 'rc_version <- gsub("^rc-v", "", git_branch)' \
            -e '## Taken from guts of `usethis::use_version()`' \
            -e 'pak::pkg_install("usethis")' \
            -e '# Set DESCRIPTION version' \
            -e 'usethis:::use_description_field("Version", rc_version, overwrite = TRUE)' \
            -e '# Set NEWS version' \
            -e 'usethis:::use_news_heading(rc_version)' \
            -e '# Set C version' \
            -e 'usethis:::use_c_version(rc_version)'

          git add -u && git commit -m '`usethis::use_version()` (GitHub Actions)' || echo "No version changes to commit"

      - name: "`devtools::document()`; Document package"
        run: |
          Rscript -e 'devtools::document()'
          git add -A DESCRIPTION || echo "No changes found in DESCRIPTION"
          git add -A NAMESPACE || echo "No changes found in NAMESPACE"
          git add -A man/ || echo "No changes found in man/"
          git commit -m '`devtools::document()` (GitHub Actions)' || echo "No documentation changes to commit"

      - name: Find `README.Rmd`
        id: readme
        shell: Rscript {0}
        run: |
          if (file.exists("README.Rmd"))
            cat("exists=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
      - name: "`devtools::build_readme()`; Build README.md from README.Rmd"
        if: steps.readme.outputs.exists
        run: |
          # {devtools} does not know how to handle `any::PKGNAME`. Using {rmarkdown} equivalent directly
          # Rscript -e 'devtools::build_readme(quiet = FALSE)'
          Rscript -e 'rmarkdown::render(input = normalizePath("README.Rmd"), output_options = list(html_preview = FALSE), quiet = FALSE)'
          git add -A README.md || echo "No changes found in README.md"
          git add -A man/figures || echo "No changes found in man/figures"
          git commit -m '`devtools::build_readme()` (GitHub Actions)' || echo "No readme changes to commit"


      - name: Find `package.json`
        id: package-json
        shell: Rscript {0}
        run: |
          if (file.exists("package.json")) {
            cat("exists=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
            pkg_scripts <- jsonlite::read_json("package.json")$scripts
            if ("build" %in% names(pkg_scripts)) {
              message("Can call `yarn build`")
              cat("build=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
            }
            if ("test" %in% names(pkg_scripts)) {
              message("Can call `yarn test`")
              cat("test=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
            }
          }
      - name: Install node.js
        if: steps.package-json.outputs.exists
        uses: actions/setup-node@v1
        with:
          node-version: "${{ inputs.node-version }}"
      - name: "`yarn build`"
        if: steps.package-json.outputs.build
        shell: bash
        run: |
          [ -d "srcts/types" ] && rm -r srcts/types
          yarn install --immutable
          if [ $? != 0 ]; then
            echo '::error::Error calling `yarn install --immutable`'
            exit 1
          fi
          yarn build
          if [ $? != 0 ]; then
            echo '::error::Error calling `yarn build`'
            exit 1
          fi
          for FOLDER in ./inst ./javascript ./srcjs ./srcts
          do
            [ -d $FOLDER ] && git add -A $FOLDER || echo "No updated $FOLDER changes to commit"
          done
          git commit -m '`yarn build` (GitHub Actions)' || echo "No yarn build changes to commit"

      - name: Run 'routine' script
        uses: rstudio/shiny-workflows/.github/internal/run-local-script@v1
        with:
          name: routine

      - name: Verify no new commits (push)
        if: github.event_name == 'push'
        uses: rstudio/shiny-workflows/.github/internal/verify-no-new-commits@v1
        with:
          upstream: "origin/${{ github.ref_name }}"
          statement: "GHA should not auto-push to a branch within a 'push' event."
          action: "Please make a PR to have the changes be collected."
      - name: Verify no new commits (fork,PR)
        # Forked repos only have `read` access given the default token. This makes pushing back to the forked repo not possible.
        # See https://docs.github.com/en/actions/security-guides/automatic-token-authentication#permissions-for-the-github_token
        if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork
        uses: rstudio/shiny-workflows/.github/internal/verify-no-new-commits@v1
        with:
          upstream: "pr/${{ github.event.pull_request.head.ref }}"
          statement: "GHA is not allowed to push commits back to a forked repo."
          action: "Please perform and commit these actions manually. It may help to merge in the latest changes from the base branch."

      - name: Git Push (PR)
        uses: r-lib/actions/pr-push@v2
        if: github.event_name == 'pull_request' && !github.event.pull_request.head.repo.fork
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      # Execute these steps after pushing, as
      # no updated files will be commited back to GitHub

      - name: Find `codecov.yml`
        id: covr
        shell: Rscript {0}
        run: |
          if (file.exists("codecov.yml"))
            cat("exists=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
      - name: "`covr::codecov()`; Run tests and find code coverage"
        if: steps.covr.outputs.exists
        shell: Rscript {0}
        run: |
          # might need to move up above / install system deps
          if (!require("covr", quietly = TRUE)) pak::pkg_install("covr")
          covr::codecov(quiet = FALSE)

      - name: Find `.lintr`
        id: lintr
        shell: Rscript {0}
        run: |
          if (file.exists(".lintr"))
            cat("exists=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
      - name: "`devtools::lint()`; Lint package"
        if: steps.lintr.outputs.exists
        shell: Rscript {0}
        run: |
          Sys.setlocale(locale = "C")
          devtools::load_all() # helps with object usage linter
          package_lints <- devtools::lint(cache = FALSE)
          if (length(package_lints) > 0) str(package_lints, list.len = Inf)
          testthat::expect_length(package_lints, 0)

      - name: "`yarn test`"
        if: steps.package-json.outputs.test
        run: |
          yarn test


      - name: "Find `staticimports`"
        if: inputs.staticimports
        id: static-imports
        shell: Rscript {0}
        run: |
          # If any file contains `# @staticimports` in the R folder...
          if (system("grep -e '# @staticimports' -r R -q") == 0) {
            cat("exists=true\n", file = Sys.getenv("GITHUB_OUTPUT"), sep = "", append = TRUE)
          }
      - name: Check for staticimports updates
        if: steps.static-imports.outputs.exists
        shell: Rscript {0}
        run: |
          if (!require("staticimports", quietly = TRUE)) {
            pak::pkg_install("wch/staticimports")
          }
          staticimports::import()

          # Display the git diff here; Could turn off with `--quiet`
          exit_code <- system("git diff --exit-code -- R")
          # If a diff was found...
          if (exit_code > 0) {
            file_for_warning <- "R/staticimports.R"
            if (!file.exists(file_for_warning)) {
              # Find the first file instead
              file_for_warning <- system("git ls-files -dm R | head -n 1", intern = TRUE)
            }

            cat("::warning file=", file_for_warning, ",title=`{staticimports}` is out of date::To update, call `staticimports::import()`. To opt out of this check, set `staticimports: false` in the routine.yaml args\n", sep = "")
          }

      # Helpful for covr output
      # https://github.com/r-lib/actions/blob/1c40e8ed442ad559d5656c01e94bf64d4c20091d/check-r-package/action.yaml
      - name: Show testthat output
        if: always()
        run: |
          ## --------------------------------------------------------------------
          echo ::group::Show testthat output
          find check -name 'testthat.Rout*' -exec cat '{}' \; || true
          echo ::endgroup::
        shell: bash
        working-directory: ${{ inputs.working-directory }}
