on:
  workflow_call:
    inputs:
      # Used by rstudio/shinyloadtest
      runs-on:
        type: string
        default: "ubuntu-20.04"
        required: false
      extra-packages:
        type: string
        default: ""
        required: false
      cache-version:
        type: string
        default: "2"
        required: false
      pandoc-version:
        type: string
        default: "2.7.3"
        required: false
      check-title:
        type: boolean
        default: true
        required: false
      clean:
        type: string
        default: 'TRUE'
        required: false

name: "`pkgdown` - `gh-pages`"

jobs:
  pkgdown:

    runs-on: ${{ inputs.runs-on }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout GitHub repo
        uses: rstudio/shiny-workflows/.github/internal/checkout@v1

      - name: Install R, system dependencies, and package dependencies
        uses: rstudio/shiny-workflows/setup-r-package@v1
        with:
          pandoc-version: ${{ inputs.pandoc-version }}
          cache-version: ${{ inputs.cache-version }}
          needs: website
          extra-packages: |
            any::pkgdown
            any::testthat
            local::.
            ${{ inputs.extra-packages }}

      - name: Run 'website' script
        uses: rstudio/shiny-workflows/.github/internal/run-local-script@v1
        with:
          name: website

      - name: Verify index reference (PR)
        if: github.event_name != 'push'
        uses: rstudio/shiny-workflows/.github/internal/verify-pkgdown@v1
        with:
          check-title: ${{ inputs.check-title }}

      - name: Setup git (push)
        uses: rstudio/shiny-workflows/.github/internal/setup-git@v1

      - name: Build and deploy pkgdown site (push)
        if: github.event_name == 'push'
        shell: Rscript {0}
        run: |
          if ("${{inputs.check-title}}" == "false") options(rmarkdown.html_vignette.check_title = FALSE)
          pkgdown::deploy_to_branch(new_process = FALSE, clean = (${{ inputs.clean }}) )
